*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'open sans', sans-serif;
}
body {
height: 100vh;
background-color: #000;
background-size: cover;
background-position: center; 
}
img {
position: fixed; /* Pour que la vidéo reste en arrière-plan même si l'on fait défiler la page */
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; /* Pour que la vidéo couvre tout l'écran */
z-index: -1; /* Pour que la vidéo soit derrière le contenu de la page */
}